.section-header {
  border-left: 4px solid #f47d20;
  padding-left: 12px;
  margin-top: 80px;
}

.card {
  border: 1px solid #e9ecef;
  border-radius: 10px;
}

.btn-custom {
    background-color: #f47d20;
}

.btn-custom:hover {
    background-color: #facba5;
}